html {
    margin: 0;
    padding: 0;
    background-color: #566D7E;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
    width: 80%;
}

#line {
    border-bottom: 10px solid black;
}

h1 {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-style: italic;
    margin: 1em 0 .4em;
}

img {
    border: 2px solid black;
}

p {
    width: 60%;
    padding-top: 10px;
    text-align: justify;
    margin: 0;
    margin-bottom: 1em;
}

a:link {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: midnightblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: darkorchid;
    background-color: transparent;
    text-decoration: none;
}

.text {
    color: darkblue;
    text-decoration: none;
    font-family: cursive;
}

.content {
    max-width: 1100px;
}

.box {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    top:  85%; /* Adjust this value to move the positioned div up and down */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    width: 50%;/* Set the width of the positioned div */
}

h2 {
    background: black;
    color:#ddd;
}
 