body {
    background-color: #566D7E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
    margin-left: 10%;
    margin-right: 10%;
    }

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px
}

img {
    border:1px solid #000000;
    margin-left: 20px;
}

p {
    text-indent: 2em;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 425px;
}

a:link {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: midnightblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: darkorchid;
    background-color: transparent;
    text-decoration: none;
}

.text {
    color: darkblue;
    text-decoration: none;
    font-family: cursive;
}

.content {
    max-width: 1100px;
}

.box {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    top:  85%; /* Adjust this value to move the positioned div up and down */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;/* Set the width of the positioned div */
}

 